* {
  font-family: 'Poppins', sans-serif;
  line-height: normal;
}

.has-overlay {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000009bf;
}

.btn-red {
  font-weight: 300;
  background-color: #C42031;
  color: #fff;
  font-size: 16px;
  border: none;
  padding: 20px 10px;
  border-radius: 5px;
}

h2.section-title {
  color: #222340;
  font-size: 38px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

h4.small-text {
  text-align: center;
  font-weight: 300;
}

.promobar {
  background-color: #222340;
  color: #fff;
}

.promobar .container {
  display: flex;
  flex-direction: revert;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 0;
}

.promobar .container a {
  color: #fff;
  text-decoration: none;
  padding: 0 10px;
  font-size: 14px;
  line-height: normal;
  font-weight: 300;
}

.promobar .container a i {
  color: #C42031;
  font-size: 16px;
}

.promobar .container a:not(:last-of-type) {
  border-right: .5px solid white;
}

.promobar .container .social i {
  color: #fff;
  font-size: 18px;
}

nav.navbar a.nav-link {
  font-weight: 700;
}

.banner-main {
  background: url("../img/main-banner.jpg");
  padding: 100px 0;
  background-size: cover;
  background-position: center;
  position: relative;
}

.banner-main p.title {
  color: white;
  font-size: 50px;
  font-weight: 700;
}

.banner-main p.title span {
  color: #7378D9;
  line-height: 46px;
}

@media only screen and (max-width: 990px) {
  .banner-main p.title {
    font-size: 38px;
  }
}

@media only screen and (max-width: 767px) {
  .banner-main p.title {
    font-size: 32px;
  }
}

.banner-main p.text {
  color: #fff;
}

@media only screen and (min-width: 991px) {
  .how-help .service {
    width: 70%;
    margin: 0 auto;
  }
}

.how-help h5.subtitle {
  font-family: 'Red Hat Display', sans-serif;
  margin-bottom: 15px;
}

@media only screen and (max-width: 990px) {
  .how-help h5.subtitle {
    text-align: center;
  }
}

.how-help img.icon {
  height: 80px;
  margin-bottom: 15px;
}

@media only screen and (max-width: 990px) {
  .how-help img.icon {
    margin-left: auto;
    margin-right: auto;
    display: table;
  }
}

.how-help p.text {
  font-family: 'Red Hat Display', sans-serif;
}

@media only screen and (max-width: 990px) {
  .how-help p.text {
    text-align: center;
  }
}

.clients .slick-next {
  right: -5px;
}

.clients .slick-prev {
  left: -5px;
}

.expert-tools {
  background-color: #222340;
  color: #fff;
}

.expert-tools p.title {
  font-size: 46px;
  font-weight: 700;
}

@media only screen and (max-width: 990px) {
  .expert-tools p.title {
    font-size: 32px;
  }
}

@media only screen and (max-width: 767px) {
  .expert-tools p.title {
    font-size: 26px;
  }
}

.expert-tools p.title span {
  color: #00AEEF;
}

.expert-tools ul {
  margin-left: 2em;
}

.expert-tools ul .fa-li {
  width: auto;
}

.expert-tools ul li i {
  color: #00AEEF;
  font-size: 24px;
  font-weight: 700;
}

.experts {
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  background-color: #222340;
  background-image: linear-gradient(to right, #222340 50%, transparent 50%), url("../img/Expertos.png");
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media only screen and (max-width: 990px) {
  .experts {
    background-size: cover;
  }
}

@media only screen and (max-width: 767px) {
  .experts {
    background: #222340;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.experts h2 {
  color: white;
  text-align: left;
}

.experts p {
  color: white;
}

.why-us .prev,
.why-us .next {
  background-color: #C42031;
  color: #fff;
  font-size: 24px;
  padding: 5px 10px;
  margin: 15px;
  cursor: pointer;
}

.why-us .testimonial {
  background-color: #222340;
  padding: 15px;
  margin: 0 15px;
}

.why-us .testimonial .user-photo {
  width: 80px;
}

.why-us .testimonial .name {
  font-weight: 700;
  margin: 0;
  font-size: 18px;
  color: white;
}

.why-us .testimonial .location {
  font-size: 14px;
  color: #7378D9;
  font-weight: 500;
  margin: 0;
}

.why-us .testimonial .testimon {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
}

footer {
  background-color: #C42031;
  color: #fff;
}

footer .description {
  font-size: 14px;
  font-weight: 300;
}

footer .fa-ul {
  margin-left: 2em;
}

footer .fa-ul .fa-li {
  width: auto;
}

footer .fa-ul a {
  color: white;
  font-weight: 100;
  font-size: 14px;
  text-decoration: none;
}

footer .contact a {
  display: block;
  font-size: 13px;
  font-weight: 200;
  margin: 5px 0;
}

footer .contact .social {
  display: flex;
  gap: 0 5px;
}

footer .contact .social a {
  background: white;
  color: #c41f31;
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 16px;
}

footer .disclaimer {
  font-size: 10px;
  font-weight: 100;
}

/* Ecommerce Page*/
.banner-main-shopping {
  background: url("../img/shopping-banner.jpg");
  padding: 150px 0;
  background-size: cover;
  background-position: center;
  position: relative;
}

.banner-main-shopping h2.section-title {
  color: #fff;
}

.best-solution-info {
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  background-color: #fff;
  background-image: linear-gradient(to right, transparent 50%, #fff 50%), url("../img/best-solution-info.jpg");
  padding-top: 6rem;
  padding-bottom: 6rem;
}

@media only screen and (max-width: 990px) {
  .best-solution-info {
    background-size: cover;
  }
}

@media only screen and (max-width: 767px) {
  .best-solution-info {
    background: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.best-solution-info ul li {
  margin-bottom: 10px;
  font-size: 18px;
}

.what-we-offer .card-offer {
  padding: 10px;
  height: 100%;
  color: #fff;
}

.what-we-offer .card-offer img.icon {
  height: 50px;
  margin-bottom: 10px;
}

.what-we-offer .card-offer p.title {
  font-size: 20px;
  font-weight: 600;
}

.what-we-offer .card-offer p.text {
  font-size: 16px;
}

.what-we-offer .blue-1 {
  background-color: #7378D9;
}

.what-we-offer .blue-2 {
  background-color: #656ABF;
}

.what-we-offer .blue-3 {
  background-color: #3D4073;
}

.what-we-offer .blue-4 {
  background-color: #222340;
}

.how-to-help .service {
  border-top: 2px solid #C42031;
  padding: 10px;
  height: 100%;
  background-color: #F8F8F7;
}

.how-to-help img.icon {
  height: 70px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.how-to-help p.title {
  font-size: 20px;
  font-weight: 600;
}

.how-to-help p.text {
  font-size: 16px;
}

.clients-ecom .slider-clients img.icon {
  height: 80px;
  object-fit: contain;
  margin: 10px;
}

.contact-ecom {
  background: url("../img/back-contact.jpg");
  padding: 100px 0;
  background-size: cover;
  background-position: center;
  position: relative;
}

.contact-ecom img.logo {
  width: 50%;
  margin-bottom: 10%;
}

.contact-ecom h2.subtitle {
  font-size: 32px;
  color: #C42031;
  font-weight: 700;
}

.contact-ecom p.text {
  color: #fff;
}

.contact-ecom .form-label {
  color: white;
}

.contact-ecom .form-control {
  border-radius: 15px;
}
/*# sourceMappingURL=styles.css.map */